#include "windows.h"

100 ICON "Resources/128Beta.Ico"

100 BITMAP "Resources/NetLogo.Bmp"

100 DIALOG 412, 125, 197, 63
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "128Gamma - NetWorkDLS"
FONT 8, "MS Sans Serif"
{
 CONTROL "128Beta Encryption", 101, "button", BS_GROUPBOX | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 4, 164, 31
 CONTROL "Encrypt Data", 102, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 14, 64, 14
 CONTROL "Decrypt Data", 103, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 14, 64, 14
 CONTROL "About", 106, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 43, 64, 14
 CONTROL "Exit", 104, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 43, 64, 14
 CONTROL 100, 105, "static", SS_ICON | WS_CHILD | WS_VISIBLE, 86, 40, 21, 20
}

200 DIALOG 350, 126, 196, 52
STYLE DS_SYSMODAL | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "128Beta - Password"
FONT 8, "MS Sans Serif"
{
 CONTROL "", 102, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_PASSWORD | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 3, 16, 189, 12
 CONTROL "Ok", 103, "button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 44, 32, 50, 14
 CONTROL "Cancel", 104, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 32, 50, 14
 CONTROL "", 101, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 8, 4, 180, 8
 CONTROL 100, 105, "static", SS_ICON | WS_CHILD | WS_VISIBLE, 168, 31, 21, 20
}

300 DIALOG 158, 10, 178, 45
STYLE DS_MODALFRAME | WS_POPUP | WS_BORDER
FONT 8, "MS Sans Serif"
{
 CONTROL 100, 1000, "static", SS_BITMAP | WS_CHILD | WS_VISIBLE, 0, 0, 179, 47
 CONTROL "OK", 101, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 63, 28, 50, 12
}


